include LICENSE README.md CONTRIBUTING.md .pre-commit-config.yaml .readthedocs.yaml
recursive-include src/native *.c *.h
recursive-include tests *.c *.py
recursive-include examples *.py
recursive-include docs *.md *.rst *.py *.txt *.patch Makefile
prune docs/_build
prune hardware-evaluation
